/* .carousel-inner {
    margin-top: 20px;
    height: 100%;
}
.carousel-item.active {
    background-image: url("../images/ps_left/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
} */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #000080;
  font-family: 'Original Surfer', cursive;
  font-size: 18px;
  
}
body {
  overflow-x: hidden;
}

.title {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
.carousel {
  margin-top: 40px;
}
.container-sm,.container-fluid {
  box-sizing: border-box;
  
}

.about-me {
  
  display: flex;
  width: 100%;
  /* height:40vh; */
  margin: 30px 0px;
  align-items: center;
  justify-content: center;
}
.about-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  height: 100%;
}
.about-left-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px 20px;
  background-color: #000080;
}
.about-left-content > p {
  font-size: 24px;
  color:#fff;
  margin: 30px 0px;
}
.about-right {
  width:30%;
  height: 100%;
}
.about-right > img {
  /* max-width: 100%; */
  width: 100%;
  height: 100%;
  
}


.service {
  display: flex;
  margin-top: 50px;
  height: 60vh;
}
.service-left {
  margin-right: 20px;
  width: 50%;
  height: 100%;
}
.service-left-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  
  
  height: 100%;
  
}
.service-left-content-one {
  display: flex;
  width:100%;
  flex-direction: column;
  margin: 10px 0px;
  /* justify-content: center; */
}
.service-left-content-one > div {
  /* width:100%; */
  display: flex;
  justify-content: space-around;
  background-color: #000080;
}
.service-left-content-two {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.service-left-content-one > div > p {
  font-size: 24px;
  
  color: #fff;
  margin: 30px 0;
}

.service-right {
  
  width: 50%;
  height: 100%;
}
.service-form {
  width: 100%;
  max-height: 100%;
  height: 100%;
  
}
.service-form-top {
  display: flex;
  height: 10%;
}
.service-form-top > input {
  width: 50%;
  padding: 5px;
  margin: 0px 3px;
  color: black;
}
.service-form-bot {
  width: 100%;
  margin-top: 5px;
  height: 90%;
}
.service-form-bot > textarea {
  width: 100%;
  margin: 0px 3px;
  padding: 5px;
  color: black;
  
  height: 90%;
}
.submit {
  width: 100px;
  margin: 0px 3px;
  padding: 10px;
  color: #fff;
  background-color: #000080;
  height: 10%;
}
.footer {
  margin-top: 100px;
  width: 100%;
  height: 50px;
  background-color: #000080;
  
}
.footer > p {
  color: #fff;
  text-align: center;
  padding: 10px;
}
.container-sm {
  border: black solid 2px;
  padding: 0;
  margin: 10px;
}

/* slider */
.image-shown,
.image-shown1,
.image-shown2,
.image-shown3 {
  display: inline-block;
  cursor: pointer;
}
.image-hidden,
.image-hidden1,
.image-hidden2,
.image-hidden3 {
  display: none;
}
.carousel-inner,
.carousel-inner1,
.carousel-inner2,
.carousel-inner3 {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel-inner img,
.carousel-inner1 img,
.carousel-inner2 img,
.carousel-inner3 img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.previouslink,
.previouslink1,
.previouslink2,
.previouslink3 {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%);
  text-decoration: none;
  color: black;
  font-size: 32px;
  z-index: 1000;
  opacity: 0.5;
  cursor: pointer;
}
.nextlink,
.nextlink1,
.nextlink2,
.nextlink3 {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%);
  text-decoration: none;
  color: black;
  font-size: 32px;
  z-index: 1000;
  opacity: 0.5;
  cursor: pointer;
}

.carousel-outer {
  position: relative;
  width: 33%;
  height: 450px;
  margin: 10px;
}
.slider {
  display: flex;
}
.carousel-text1,
.carousel-text2,
.carousel-text3 {
  position: absolute;
  display: none;
  width: 80px;
  height: 30px;
  color: #fff;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: ease-in 2s;
}
.modal_img {
  display: none;
}
.modal_img.active {
  display: block;
  position: fixed;

  background-color: black;
  /* opacity: 0.9; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow-y: auto;
  
}
.modal_img.active > img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  
}
.submit {
  border: none;
}
.modal-close {
    position: fixed;
    top: 0;
    right:0;
    margin:20px;
    color:#fff;
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
    
}
body.active{
  overflow-y: hidden;
}
@media screen and (max-width:642px){
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .about-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:0;
  }
  .about-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px 5px;
  }
  .about-left-content > p {
    font-size:16px;
  }
  .about-me-title {
    text-align: center;
  }
  .about-right {
    width:100%;
  }
  .service {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .service-title {
    text-align: center;
  }
  .service-left {
    width:100%;
  }
  .service-right {
    width:100%;
    margin-top:80px;

  }
  .service-form-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    /* margin-left: 10px; */
  }
  .service-form-top > input {
    width:100%;
  }
 .service-form-bot {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .submit {
   display:block;
   padding:10px;
   height: auto;
   margin-top: 10px;
   border: none;
 }
 .footer {
   display: block;
   width: 100%;
   margin-top:700px;
   height: 90px;
 }
 .slider {
   display: flex;
   flex-direction: column;
   width: 100%;
 }
 .carousel-outer {
   width:100%;
   margin:10px 0 ;
 }
 .carousel-inner1 {
   width:100%;
 }

}

@media screen and (max-width:375px) {
  .service-title {
    margin-top: 30px;
  }
  .submit {
    margin-top: 20px;
  }
  .footer {
    margin-top: 750px;
  }
}